<a href="https://colab.research.google.com/github/charumathikumar/etg_proj_demo/blob/main/ademo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
record = { 11602259 : {"name": "Ashish Jangra" , "Pno": 1234, "cgpa" : 7.5},
           11602260 : {"name": "Gurpreet Singh", "Pno": 5678, "cgpa" : 8},
           11602261 : {"name": "Rishu Kumar"   , "Pno": 8984, "cgpa" : 7.8}}

In [ ]:
import json

In [ ]:
js = json.dumps(record)

In [ ]:
fd = open("record.json",'w')

fd.write(js)

fd.close()

In [ ]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [ ]:
record

{'11602259': {'Pno': 1234, 'cgpa': 7.5, 'name': 'Ashish Jangra'},
 '11602260': {'Pno': 5678, 'cgpa': 8, 'name': 'Gurpreet Singh'},
 '11602261': {'Pno': 8984, 'cgpa': 7.8, 'name': 'Rishu Kumar'}}

In [ ]:
n=int(input("enter n"))
for i in range(n):
      prod_id = str(input("Enter product id:"))
      pno = int(input("Enter phno:"))
      cg = int(input("Enter cg:"))
      name = str(input("Enter name:"))

      record[prod_id] = { 'pno': pno, 'cg': cg , 'name': name}

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
record

{'11602259': {'Pno': 1234, 'cgpa': 7.5, 'name': 'Ashish Jangra'},
 '11602260': {'Pno': 5678, 'cgpa': 8, 'name': 'Gurpreet Singh'},
 '11602261': {'Pno': 8984, 'cgpa': 7.8, 'name': 'Rishu Kumar'},
 '2': {'cg': 3, 'name': 'e', 'pno': 34},
 '3': {'cg': 5, 'name': 'jk', 'pno': 55}}

In [ ]:
prod_id = str(input("Enter product id:"))
pno = int(input("Enter phno:"))
cg = int(input("Enter cg:"))
name = str(input("Enter name:"))

record[prod_id] = { 'pno': pno, 'cg': cg , 'name': name}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:100
Enter phno:222
Enter cg:2
Enter name:edd

In [ ]:
record

{'100': {'cg': 2, 'name': 'edd', 'pno': 222},
 '11602259': {'Pno': 1234, 'cgpa': 7.5, 'name': 'Ashish Jangra'},
 '11602260': {'Pno': 5678, 'cgpa': 8, 'name': 'Gurpreet Singh'},
 '11602261': {'Pno': 8984, 'cgpa': 7.8, 'name': 'Rishu Kumar'},
 '2': {'cg': 3, 'name': 'e', 'pno': 34},
 '3': {'cg': 5, 'name': 'jk', 'pno': 55}}

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
record

{'100': {'cg': 2, 'name': 'edd', 'pno': 222},
 '11602259': {'Pno': 1234, 'cgpa': 7.5, 'name': 'Ashish Jangra'},
 '11602260': {'Pno': 5678, 'cgpa': 8, 'name': 'Gurpreet Singh'},
 '11602261': {'Pno': 8984, 'cgpa': 7.8, 'name': 'Rishu Kumar'},
 '2': {'cg': 3, 'name': 'e', 'pno': 34},
 '3': {'cg': 5, 'name': 'jk', 'pno': 55}}

In [ ]:
rec = { 11602259 : {"name": "Ashish Jangra" , "Pno": 1234, "date" : "7/5/2001"}}

In [ ]:
rec

{11602259: {'Pno': 1234, 'date': '7/5/2001', 'name': 'Ashish Jangra'}}